{% extends "ksu/base.html" %}

{% block title %}
KSU Campus Map Search
{% endblock %}

{% block content %}
    <h2>Search for Building and Room</h2>
    <script>
        function process()
        {
            var url= "/search/"+document.getElementById("url1").value+"/"+document.getElementById("url2").value;
            window.location.href = url;
            return false;
        }
    </script>

    <form onsubmit="return process()">
    <input type="text" placeholder="Building" id="url1"/>
    <input type="number" placeholder="Rm. #" id="url2"/>
    <button type="submit">Search</button>
    </form>

    <h2>List of Buildings</h2>
    {% if building_list %}
        <ul>
            {% for building in building_list %}
            <li><a href="{% url 'floors' building.name %}">{{building.name}} Hall</a></li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No buildings in system.</p>
    {% endif %}
{% endblock %}