{% extends "ksu/base.html" %}

{% block title %}
Map for {{floor.building.name}} Hall
{% endblock %}

{% block content %}
    <h2>Map for {{floor.building.name}} Hall 
        {% if floor.number == 0 %}
            Basement
        {% else %}
            Floor {{floor.number}}
        {% endif %}</h2>
    {% if floor %}
        <img src="{{MEDIA_URL}}svg/{{floor.building.name}}_{{floor.number}}c.svg" width="100%" height="100%" alt="Floor blueprint for {{floor.building.name}} Floor {{floor.number}}.">
    {% else %}
        <p>No map available.</p>
    {% endif %}
{% endblock %}